{% extends "material/frontend/base_site.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% endblock %}
{% block page_title %}{{ request.user.get_full_name }}{% endblock %}


{% block content %}
{% block left-panel %}
<div class="left-panel">   
    <div class="card">
        <div class="card-content">
            <span class="card-title black-text">{{ title }}</span>
            <p><br/>
            <ul>                         
                <li>Name: <strong>{{ request.user.get_full_name }}</strong></li>
                <li>Roll Number: {{ request.user.profile.rollno }}</li>
                <li>Date of Birth: {{ user.profile.birthdate }}</li>
                <li>CGPA: {{ user.profile.current_cgpa }}</li>              
            </p>
            </ul>
        </div>        
    </div>    
    <div class="card">
        <div class="card-content">
            <span class="card-title black-text">{{ title }}</span>
            <p><br/>Change Password</p>
        </div>
        <div class="card-action right-align">
            <a href="{% url 'password_change' %}" class="btn btn-primary white-text">{% trans 'Change' %}</a>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% endblock %}
